@using System.Web.Optimization;

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>博客后台管理 - @ViewBag.Title</title>
    @Styles.Render("~/bundles/bootstrap")

    @RenderSection("style", false)
</head>
<body>
    <div class="container">

    </div>

    <div class="container frame">
        <div class="row page-title">
            <div class="col-md-12">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/JS")

    @RenderSection("script", false)
</body>
</html>