@*@using Webdiyer.WebControls.Mvc;
    @model PagedList<JIF.Core.Domain.Articles.Article>*@

@model JIF.Core.IPagedList<JIF.Core.Domain.Articles.Article>
@{
    ViewBag.Title = "文章列表";
}

@section Styles {
    <style type="text/css">
        .blur {
            -webkit-filter: blur(1px);
        }
    </style>
}

<div class="box">
    <div class="box-header with-border">
        <a href="/admin/article/add" class="btn btn-success"><i class="fa fa-pencil-square-o"></i><span> 写文章</span></a>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-hover table-condensed">
            <tbody>
                <tr>
                    <th style="width:10px;">
                        <label><input type="checkbox" class="minimal"></label>
                    </th>
                    <th>文章标题</th>
                    <th>作者</th>
                    <th>文章分类</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><label><input type="checkbox" class="minimal"></label></td>
                        <td>
                            <span>@item.Title</span>
                            <span class="label label-info">知乎</span>
                            <span class="label label-info">者也</span>
                        </td>
                        <td>@item.CreateUserId</td>
                        <td>@item.CategoryId</td>
                        <td>
                            <span class="fa fa-search-plus badge badge-flat bg-teal"> 8888</span>
                            <span class="fa fa-thumbs-o-up badge bg-teal"> 3</span>
                            <span class="fa  fa-comment-o badge bg-teal "> 10</span>
                        </td>
                        <td>
                            <a href="javascript:;" class="btn btn-xs btn-success">查看</a>
                            @Html.ActionLink("编辑", "edit", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" })
                            <a href="javascript:;" class="btn btn-xs btn-danger btn-del" data-id="@item.Id" data-name="@item.Title">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->

    <div class="box-footer clearfix">
        @Html.Partial("_Pager", Model)
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('.btn-del').on('click', function () {
                var id = $(this).attr('data-id');
                var text = $(this).attr('data-name');

                $.confirm({
                    type: 'red',
                    title: '操作',
                    content: '确认删除 : <span class="text-light-blue">' + text + '</span>',
                    buttons: {
                        confirm: function () {
                            $.post('/admin/article/delete/' + id, function (result) {
                                if (result.success) {
                                    $.alert('删除成功');
                                } else {
                                    $.alert({
                                        type: 'orange',
                                        content: '删除失败: ' + result.message
                                    });
                                }
                            });
                        },
                        cancel: function () {
                            return;
                        }
                    }

                });
            });
        });

    </script>
}
