@using System.Web.Optimization;
@model Blog.Areas.Admin.ViewModels.ArticleViewModel
@section style {
    @Styles.Render("~/bundles/simditor/Css")
    <style type="text/css">
        .simditor-icon {
            line-height: 40px !important;
        }
    </style>
}


<div class="row">
    <div class="col-md-12">
        <input id="title" name="title" type="text" class="form-control" placeholder="文章标题" value="@Model.Title">
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <textarea id="content" name="content" class="form-control" rows="15" placeholder="文若流沙,思若泉涌">@Model.Content</textarea>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-3">
        <select id="category" class=" form-control">
            @foreach (var c in Model.Categories)
            {
                if (Model.CategoryId == c.Id)
                {
                    <option value="@c.Id" selected="selected">@c.CategoryName</option>
                }
                else
                {
                    <option value="@c.Id">@c.CategoryName</option>
                }
            }
        </select>
    </div>
    <div class="col-md-9">
        <input id="tag" name="tag" type="text" class="form-control" placeholder="文章标签, 分号(;)分隔" value="@Model.Tag">
    </div>
</div>
<br />

<button id="btn_pub" class="btn btn-default btn-lg" onclick="article.Save()">发布</button>
<br />
<br />


@section script {
    @Scripts.Render("~/bundles/simditor/JS")

    <script type="text/javascript">

        var _pid = @Model.ArticleId;

        var _editor = new Simditor({
            textarea: $('#content')
        });

        var article = {
            url: '@Url.Action("Edit")',
            Save: function () {
                $.ajax({
                    type: 'POST',
                    url: this.url,
                    dataType:'json',
                    data: {
                        articleId : _pid,
                        title : $('#title').val(),
                        content : _editor.getValue(),
                        categoryid : $('#category').val(),
                        tag : $('#tag').val()
                    }
                }).done(function(data){
                    alert(data.Success,data.Data);
                });
            }
        };

        //$(function () {


        //    $('#btn_pub').click(function () {
        //        alert('$.click');
        //        //var data = {
        //        //    title: $('#title').val(),
        //        //    content: editor.getValue(),
        //        //    categoryid: $('#category').val(),
        //        //    tag: $('#tag').val()
        //        //};

        //        //$.ajax({
        //        //    type: 'POST',
        //        //    url: '/Admin/Article/Edit',
        //        //    data: data
        //        //}).done(function (data) {
        //        //    alert(data.Message);
        //        //});

        //    });

        //});

    </script>
}